@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

    <img src="~/Content/img/icheck/Animated-Rx-Pharmacy-horiz-13x32.gif" />
    <hgroup class="title" style="color:deeppink;text-align:center;padding-top:150px">
        <h1>@ViewData["ErrorMessage"]</h1>
        <h1 class="error">Cant Access</h1>
        <h2 class="error">Conduct System Administrator</h2>
    </hgroup>
