@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <title>Reset Password</title>
    <style>
        input[type=text], input[type=password], input[type=email] {
            width: 60%;
            height: 35PX;
            padding: 10px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        /*button {
            background-color: #4CAF50;
            color: white;
            padding: 0px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }*/

        button:hover {
            opacity: 0.8;
        }

        .imgcontainer {
            padding-top: 7%;
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            padding: 10px;
            width: 30%;
            border-radius: 50%;
        }

        .container {
            padding: 6px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body style="background-color:gray">

    <div class="imgcontainer">
        <img src="~/Content/img/admin.jpg" alt="Avatar" height="200px" style="background-color:gray" class="avatar">
    </div>

    <div class="container" style="background-color:gray">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

</body>
</html>
