
@{
    Layout = null;
    ViewBag.Title = "NotFound";
}
<img src="~/Content/img/404.png" style="padding-left:20%;padding-top:05%;width:60%;height:60%" />
<div class="danger">
    <a href="@Url.Action("index","Home")" style="text-align:center">Back To Home</a>
</div>