@{
    Layout = null;
    Layout = "~/Views/Shared/LayoutForResetPassword.cshtml";
}
<style>
    .failed {
        text-align: center;
        border: solid 1px red;
        width: 300px;
        padding: 5px;
        background-color: rgb(255,229,229);
    }
</style>
@if (ViewBag.noSentEmail == "True")
{
    <div class="row">
        <div class="col-md-offset-5 col-md-7">
            <span class="failed">@ViewBag.EmailNetConMsg</span>
        </div>
    </div>
}
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <h3>Enter Email Address</h3>
                </div>
                <div class="col-md-8">
                    <input type="email" name="email" style="background-color:white;" /><span style="color:red">&nbsp<b>@ViewBag.NoEmail</b></span><br />
                </div>
            </div>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-1">
                            <a href="@Url.Action("index","Login")" class="btn btn-primary">Cancel</a>
                        </div>
                        <div class="col-md-1">
                            <input type="submit" value="Next" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
        }

